.toolbar {
  display: flex;
  align-items: center;

  background-color: white;
  font-weight: 500;
}

.toolbar-title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.left-items, .right-items {
  flex: 1;
  padding: 10px;
  display: flex;
}

.right-items {
  flex-direction: row-reverse;
}

.left-items .toolbar-button {
  margin-right: 20px;
}

.right-items .toolbar-button {
  margin-left: 20px;
}

.left-items .toolbar-button:last-child,
.right-items .toolbar-button:last-child {
  margin: 0;
}