.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}